# This workflow will install Python dependencies, then run unit testing across the earliest and latest supported Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  tox:
    # We need to use 20.04 to get access to the libolm3 package
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install project dependencies
      run: |
        # Install libolm, required for end-to-end encryption functionality
        sudo apt install -y libolm-dev libolm3
        # Install python dependencies
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Run tests
      run: |
        pyenv="py$(echo "${{ matrix.python-version }}" | tr -d '.')"
        tox -e ${pyenv}
